#main {
  display: flex;
  padding-top: 40px;
  max-width: 700px;
  margin: auto;
}

#main form {
  max-width: 300px;
  margin: auto;
  padding: 25px 10px 30px;
  background: #ececec;
  border-radius: 5px;
}

#main form label {
  width: 85px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

#main input {
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    padding: 5px;
}

#main .btn {
  display: block;
  font-size: 14px;
  border: none;
  background: black;
  color: #fff;
  border-radius: 5px;
  margin: 20px auto 0;
  padding: 5px 20px;
}

.search-side {
  width: 50%;
}

.update-side {
  width: 50%;
}